/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/components/themes.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
:root {
  --color-surface: #0f172a;     
  --color-card: #1e293b;        
  --color-mini-card: #18191b;   
  --color-alt-card: #141414; 
  --color-text-main: #f9fafb;   
  --color-text-subtle: #9ca3af; 
}

[data-theme="light"] {
  --color-surface: #f1f5f9;     
  --color-card: #ffffff;        
  --color-mini-card: #f8fafc;   
  --color-alt-card: #e2e8f0;    
  --color-text-main: #1e293b;   
  --color-text-subtle: #64748b; 
}

[data-theme="alternate"] {
  --color-surface: #000000;     
  --color-card: #1a1a1a;        
  --color-mini-card: #111111;   
  --color-alt-card: #ff9900;    
  --color-text-main: #ffcc00;   
  --color-text-subtle: #ffdd88;  
}

